{% extends './base.html'%}
{% load static %}
{% block container %}
<div id="container">
	<!-- location_area -->
	<div class="location_area package">
		<div class="box_inner">
			<h2 class="tit_page">TOURIST <span class="in">in</span> TOUR</h2>
			<p class="location">상품투어 <span class="path">/</span> 프로그램 소개</p>
			<ul class="page_menu clear">
				<li><a href="javascript:;" class="on">프로그램 소개</a></li>
				<li><a href="javascript:;">여행 자료</a></li>
			</ul>
		</div>
	</div>
	<!-- //location_area -->

	<!-- bodytext_area -->
	<div class="bodytext_area place_area box_inner">
		<ul class="program_list clear">
			{% for program in programList %}
			<li>
				<img class="img_place" src="/static/img/{{program.img}}" alt="{{program.title}}" />
				<h3>{{program.title}}</h3>
				<p class="subttl">{{program.schedule}}</p>
				<div class="program_content">
					<p>{{program.text}} <span class="subtxt">{{program.subtext}}</span></p>
				</div>
				<p class="btn_more"><a href="javascript:;">더보기</a></p>
			</li>
			{% endfor %}
		</ul>
	</div>
	<!-- //bodytext_area -->

</div>
<!-- //container -->
{% endblock container%}